
*{
  margin: 0;
  padding: 0;
  width: 80%;
}

body {
  margin: 0;
  padding: 0;
 background: radial-gradient(circle at center, rgb(130, 211, 238) 0, blue, green 100%);
  width: 98%;
  height: 100vh;
  font-family: Tahoma;
}

.container {
  width:1010px;
  margin-left: 110px;
  
}
a {
  text-decoration: none;
}

a:hover {
  color: blueviolet;
}

 nav ul{
  list-style:none;
  margin-left: 380px;

}
nav li {
  /* display: block; */

}

li {
  margin-top: 15px;
}
nav {
  /* background-color: green; */
  
  margin: auto;
  margin-left: 155px;
  

}
img {
  /* background-color: rgb(130, 211, 238); */
  background-color:  rgb(130, 211, 238) 0;
  width: auto;
  height:auto;
  margin-left: 250px;
}

.ceo {
  font-size: 12px; 
  margin-left: 200px;
}
.name {
  margin-left: 200px;
}
h2 a {
  color: rgb(130, 211, 238);
}
.form {
  text-align:center;
  margin-top: 20px;
  margin-left: 175px;
}
.form a {
  color:   rgb(130, 211, 238);
}
nav ul li a {
  color: black;
  font-size: 20px;
}

.sec {
  text-align: center;
  margin-left: 50px;
}

hr {
  margin-left: 205px;
}

footer {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
  margin-left: 180px;
}

.skill {
  background-color: rgb(130, 211, 238);
  margin-top: 40px;
  margin-bottom: 20px;
  margin-left: 210px;
 
}
.skill p {
  margin-top: 30px;
  margin-left: 70px;
}
.skill-h1 {
  margin-left: 70px;
}


i {
  margin-left: 250px;
}